/* место для вашего кода */
.btn {
  padding: 11px 32px;
  border: 1px solid currentColor;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  font-size: 22px;
  line-height: 10px;
}

a.btn {
  border-bottom: 1px solid currentColor;
}

.lens::before {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

header {
  display: grid;
  grid-template-columns: 40% auto 265px;
  padding: 0 24px 91px;
  font-size: 18px;
}

.header-menu {
  margin-left: 26.52px;
  padding-top: 92px;

  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.header-menu a {
  padding-left: 0;
  text-decoration: none;

  margin-left: 33px;

  list-style-type: circle;
  display: list-item;

  margin-top: 7px;

  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

.header-menu a:hover {
  border-bottom: 1px solid #fff;
}

.header-menu a:first-child {
  margin-left: 0;
  list-style-type: none;
}

.header-menu a.current {
  border-bottom: 1px solid #fff;
}

.header-logo {
  padding: 92px 0 0 38px;
}

.header-logo img {
  width: 136px;
  margin: 0 auto;
}

.header-logo a {
  border-bottom: none;
}


.contacts {
  letter-spacing: 0.01px;
  font-size: 18px;
  width: auto;
  font-style: normal;
}

.contacts a,
.contacts span {
  line-height: 24px;
}

header .contacts {
  padding-top: 99px;
}

.cover {
  width: 100%;
  min-height: 757px;

  background: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.cover-title {
  position: relative;
  color: #fff;
  z-index: 2;
  display: block;
  width: 100%;
  padding-top: 165px;
  margin-bottom: 139px;
  padding-left: 50px;
  padding-right: 20px;

  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 30px;
  text-align: justify;
}

.cover-title .word-spacing {
  width: 30px;
  display: inline-block;
}

.cover-title .frace {
  display: block;
}

.cover-title .frace:nth-child(1n) {
  text-align: left;
}
.cover-title .frace:nth-child(2n) {
  text-align: center;
  margin-top: 10px;
}
.cover-title .frace:nth-child(3n) {
  text-align: right;
  margin-top: 3px;
}

.cover-subline {
  position: relative;
  color: #fff;
  z-index: 2;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: left;

  text-transform: uppercase;
  padding-left: 82px;
  letter-spacing: 0px;
  word-spacing: 18px;
  font-weight: 400;
  font-size: 22px;
}

.cover-subline .right {
  text-align: left;
  padding-left: 78px;
  word-spacing: 0;
}

.about-lots {
  background-color: #fff;
  padding: 180px 24px 50px;
  display: block;
}

.about-lots h2 {
  text-transform: uppercase;
  font-size: 40px;
  padding-left: 40px;
}

.about-lots .about-lots-items {
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  padding-top: 27px;
}

.about-lots-items a {
  text-decoration: none;
  border: none;

  margin-right: 25px;
  margin-bottom: 24px;

  background-size: cover;
  background-position: center;
}

.about-lots-lot {
  width: 334px;
  min-height: 563px;
  position: relative;


  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: stretch;
}

.about-lots-items a:nth-child(1n) {
  background-image: url(../images/card-lot-01.jpg) ;
}
.about-lots-items a:nth-child(2n) {
  background-image: url(../images/card-lot-02.jpg) ;
}
.about-lots-items a:nth-child(3n) {
  background-image: url(../images/card-lot-03.jpg) ;
  margin-right: 0;
}

.about-lots-lot .title,
.about-lots-lot .description {
  position: relative;
  z-index: 2;
  padding: 0 40px;
  color: #fff;
}

.about-lots-lot .title {
  padding-top: 48px;
  line-height: 26px;
  letter-spacing: 0.1px;

  text-transform: uppercase;
  font-size: 22px;
  border-color: #fff;
  font-weight: bold;

  text-decoration: underline;
}

.about-lots-lot .description {
  padding-bottom: 48px;
  font-size: 20px;
  flex: 0 1 auto;

  line-height: 24px;
}

.about-lots .link-all {
  padding: 6px 0 0 40px;
  font-size: 20px;
}

.about-auction {
  display: grid;
  grid-template-columns: 334px auto;

  padding: 132px 24px 54px;
}

.about-auction-logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
  position: relative;
  margin: 0 auto;
}

.about-auction-logo::before {
  position: absolute;
  top: 0;
  left: 0;

  content: url(../images/logo-white.svg);

  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;

  padding: 62px 46px;
}

.about-auction-description h2 {
  text-transform: uppercase;
  font-size: 40px;
  margin-bottom: 100px;
}

.about-auction-description {
  padding-top: 98px;
  padding-left: 25px;
}

.about-auction-description p {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 26px;
}

footer {
  display: grid;
  grid-template-columns: 265px 521px auto;
  padding: 99px 24px 92px;
  font-size: 18px;

  line-height: 21px;
}

footer .contacts {
  padding-left: 26px;
}

.footer-menu {
  letter-spacing: 0.1px;
  font-size: 18px;

  align-items: center;

  display: flex;
  flex-direction: column;
}

.footer-menu a {
  line-height: 21px;
  height: 21px;
}

.footer-social {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.footer-social a {
  border-bottom: none;
  margin-right: 48px;
}

.footer-social .logo {
  width: 48px;
  height: 48px;
}
